See discussions, stats, and author profiles for this publication at: https://www.researchgate.net/publication/233043788Planning future construction skill requirements: Understanding labour resource issuesArticle  in  Construction Management and Economics · March 1995DOI: 10.1080/01446199500000017CITATIONS	READS85	747Ronald MccafferLoughborough University78 PUBLICATIONS   2,518 CITATIONS   Some of the authors of this publication are also working on these related projects:Procurement and Contract Strategies for the Offsite Housebuilding Sector View projectHaCIRIC View projectAll content following this page was uploaded by Andrew Agapiou on 17 January 2021.The user has requested enhancement of the downloaded file.
Planning future construction skill requirements: understanding labour resource issuesAndrew Agapiou , Andrew D.F. Price & Ron MccafferTo cite this article: Andrew Agapiou , Andrew D.F. Price & Ron Mccaffer (1995) Planning future construction skill requirements: understanding labour resource issues, Construction Management and Economics, 13:2, 149-161, DOI: 10.1080/01446199500000017To link to this article:  https://doi.org/10.1080/01446199500000017Full Terms & Conditions of access and use can be found at https://www.tandfonline.com/action/journalInformation?journalCode=rcme20












